<!DOCTYPE html>
<html>
    <head>Summer</head>
    <style>
       body{ background-color: blue;}
    </style>
    <body>
        <br>Welcome to Pushpesh's web page </br>
        <h1>Welcome to the profile of <%= person %></h1>
    </body>
</html>